---
import Layout from "@/layouts/Layout.astro";
import AboutMe from "@/sections/AboutMe.astro";
import HeroSection from "@/sections/HeroSection.astro";
import Projects from "@/sections/Projects.astro";
import SkillsSection from "@/sections/SkillsSection.astro";
---

<Layout>
	<main class="container mx-auto">
		<HeroSection />
		<Projects />
		<SkillsSection />
		<AboutMe />
	</main>
</Layout>
