---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../sections/AboutMe.astro";
import Footer from "../sections/Footer.astro";
import HeroSection from "../sections/HeroSection.astro";
import Header from "../sections/Header.astro";
import Projects from "../sections/Projects.astro";
import SkillsSection from "../sections/SkillsSection.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div
    class="container grid place-content-center min-h-dvh grid-rows-[auto_1fr_auto]"
  >
    <Header />
    <main>
      <HeroSection />
      <Projects />
      <SkillsSection />
      <AboutMe />
    </main>
    <Footer />
  </div>
</Layout>
