<header class='flex items-center justify-between h-20'>
  <a href="/">JoseDev</a>
  <nav>
    <ul class="flex items-center justify-around gap-10">
      <li><a href="/#projects">Projects</a></li>
      <li><a href="/#skills">Skills</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
  </nav>
  <button>CV</button>
</header>
