<section class="relative">
  <div class="z-2 mx-auto">
    <h1>Construyendo el futuro, una linea a la vez</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nam qui
      quisquam et eius doloribus, atque, eos soluta repudiandae corporis
      quibusdam saepe sunt vitae iure laboriosam amet suscipit doloremque
      facere.
    </p>
  </div>
</section>
<!-- <style>
  section::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 1;
    background: red;
  }

  section::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
    z-index: 1;
    background: blue;
  }
</style> -->
