<section class="h-250">
  <div>
    <div>
      <h1>Construyendo el futuro, una linea a la vez</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nam qui
        quisquam et eius doloribus, atque, eos soluta repudiandae corporis
        quibusdam saepe sunt vitae iure laboriosam amet suscipit doloremque
        facere.
      </p>
      
    </div>
    <aside></aside>
  </div>
</section>
