---
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Jose Dev</title>
  </head>
  <body class="grid min-h-dvh grid-rows-[auto_1fr_auto] bg-neutral text-white">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
