---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Jose Dev</title>
  </head>
  <body class="bg-[#0D1117] w-full max-w-7xl mx-auto text-white">
    <slot />
  </body>
</html>
